name: 16 - Working with Environments

on:
  workflow_dispatch:
    inputs:
      target-env:
        type: environment
        default: staging
        description: Select the target environment for deployment

jobs: 
  echo: 
    runs-on: ubuntu-latest 
    environment: ${{ inputs.target-env }}
    env:
      my-env-value: ${{ vars.MY_ENV_VALUE || 'default-env-value' }}
    steps:
      - name: Echo vars
        run: |
          echo "Env variable: ${{ vars.MY_ENV_VALUE }}"